In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [3]:
df_temp = pd.read_csv("data\pune_weather_temperature.csv")
df_temp.head()

   latitude  longitude  valid_time        t2m  number
0      18.4       73.5  2024-01-01  296.15250       0
1      18.4       73.5  2024-01-02  296.33920       0
2      18.4       73.5  2024-01-03  296.38007       0
3      18.4       73.5  2024-01-04  295.82150       0
4      18.4       73.5  2024-01-05  295.00024       0

In [4]:
df_preci = pd.read_csv("data\pune_weather_precipitation.csv")
df_preci.head()

   latitude  longitude  valid_time   tp  number
0      18.4       73.5  2024-01-01  0.0       0
1      18.4       73.5  2024-01-02  0.0       0
2      18.4       73.5  2024-01-03  0.0       0
3      18.4       73.5  2024-01-04  0.0       0
4      18.4       73.5  2024-01-05  0.0       0

In [13]:
if os.path.exists("data\pune_weather.csv"):
    print("The file alredy exists")
else:
    df_preci = df_preci[['tp']]
    df_merged = df_temp.join(df_preci, how="left")
    df_merged.to_csv("data/pune_weather.csv")
    print("The file has been created")

The file has been created